# Windsurf Rules

- 這是一個 vue-element-admin 4.4.0 的專案
- 內容為一個交易系統會需要的後台功能
- 目前功能包括
    - 風控
        - 風控白名單
        - 風控黑名單
        - 風控灰名單
    - 權限
        - 權限管理
    - 會員總覽
        - 綁定地址
        - 交易紀錄
    - 告誡名單

