$color-main: #48A6A7;
$color-sub: #9ACBD0;
$color-text: white;


/* 改变主题色变量 */
$--color-primary: $color-main;

.el-menu-item,
.sidebar-container,
.el-submenu__title {
    background-color: $color-main !important;
}
.el-submenu{
    background-color: $color-sub !important;
}
#app .sidebar-container .el-submenu .el-menu-item{
    color: $color-main !important;
    background-color: $color-sub !important;
}
.el-menu-item.is-active {
    color: $color-main !important;
    background-color: $color-sub !important;
}
.el-alert--info {
    color: $color-text !important;
    background-color: $color-sub !important;
}

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";